.searchFormContainer {
  display: flex;

  align-items: center;
  max-width: 1120px;
  width: 100%;
  margin: 4rem auto;
  padding: 0 1.5rem;
  gap: 1rem;

  input {
    padding: 1rem;
    background: var(--gray-1);
    border-radius: 6px;
    flex: 1;
    border: 0;
    outline: 0;

    color: #7c7c8a;
    font-size: 16px;
    font-family: "Roboto";
  }

  button {
    border-radius: 6px;
    color: var(--green-light);
    background: transparent;
    border: 1.5px solid var(--green-light);
    padding: 16px 32px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;

    span {
      font-weight: bold;
    }

    &:hover {
      background: var(--green);
      color: var(--white);
      transition: 0.2s;
    }
  }
}
