

.header {
    background: var(--gray-1);
    padding: 2.5rem 0 7.5rem;
    
}

.headerContent {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        height: 50px;
        border: 0;
        background: var(--green);
        color: var(--white);
        border-radius: 6px;
        padding: 12px 20px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s;
        

        &:hover {
            background: var(--green-dark);
            

        }
    }
}